.btn{
	&.sign-up{
		padding:0.75rem 4.5rem;
		border-radius: 2rem;
		@include navBoxsadow();
		cursor: pointer;
		background-color: $color__background-body;
		color: $color__background_start;

		&:hover{
			background-color: $color__background-button;
			color: $color__text-nav;
		}
	}
}