/* -------------------------------------------------------------
## Front Page Footer
------------------------------------------------------------- */
.fornt-page_footer{
	background-image: linear-gradient(-135deg, #3f97f7 0%, #a23bff 100%);
	padding-top: 3rem;
	padding-bottom: 3rem;
	color: $color__text-nav;
}