/*---------- Page Templates ------------*/

#page{
	position: relative;
}

@import 'pages/pages';

.image__intro{
	padding: 3rem 0;
	background-color: $color__background-screen;
}

.has_background_image{
	@include backgroundImage('media/svg/grdient-bg.svg', fixed , cover);
	padding: 3rem 0;
	color: $color__background-body;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin:0;
	padding:0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
